name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

## We specify a concurrency group with automated cancellation. This means that
## other pushes on the same `github.ref` (eg. other pushes to the same pull
## request) cancel previous occurrences of the CI.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@V28
        with:
          extra_nix_config: |
            accept-flake-config = true
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Build and run tests
        run: |
          nix build .#packages.x86_64-linux.monadise -vL --no-link
          nix build .#packages.x86_64-linux.monadise-lwt -vL --no-link
          nix build .#packages.x86_64-linux.next -vL --no-link
          nix build .#packages.x86_64-linux.ppx_monad -vL --no-link
          nix build .#packages.x86_64-linux.spacedout -vL --no-link
          nix build .#packages.x86_64-linux.valet -vL --no-link

  run-git-hooks:
    name: Run git-hooks checks
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@V28
        with:
          extra_nix_config: |
            accept-flake-config = true
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Run pre-commit checks
        run: nix build .#checks.x86_64-linux.git-hooks -vL --no-link

  opam:
    strategy:
      fail-fast: false
      matrix:
        ocaml-compiler:
          - 5
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    name: OPAM (OCaml ${{ matrix.ocaml-compiler }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Install dependencies
        run: opam install . --deps-only --with-test

      - name: Build
        run: opam exec -- dune build

      - name: Run tests
        run: opam exec -- dune test
