name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

## We specify a concurrency group with automated cancellation. This means that
## other pushes on the same `github.ref` (eg. other pushes to the same pull
## request) cancel previous occurrences of the CI.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  nix:
    strategy:
      fail-fast: false
      matrix:
        package:
          - monadise
          - monadise-lwt
          - next
          - ppx_monad
          - ppx_deriving_madcast
          - spacedout
          - valet

    name: Nix (${{ matrix.package }})
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@V28
        with:
          extra_nix_config: |
            accept-flake-config = true
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Build and run tests
        run: nix build .#packages.x86_64-linux.${{ matrix.package }} -vL --no-link

  opam:
    strategy:
      fail-fast: false
      matrix:
        package:
          - monadise
          - monadise-lwt
          - next
          - ppx_monad
          - ppx_deriving_madcast
          - spacedout
          - valet

    name: OPAM (${{matrix.package}})
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5

      - name: Install dependencies
        run: opam install ./${{matrix.package}}.opam --deps-only --with-test

      - name: Build
        run: opam exec -- dune build --for-release-of-packages ${{matrix.package}}

      - name: Run tests
        run: opam exec -- dune test --for-release-of-packages ${{matrix.package}}

  opam-non-linux:
    strategy:
      fail-fast: false
      matrix:
        system:
          - macos-latest
          - windows-latest

    name: OPAM (all, ${{matrix.system}})
    runs-on: ${{matrix.system}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5

      - name: Install dependencies
        run: opam install . --deps-only --with-test

      - name: Build
        run: opam exec -- dune build

      - name: Run tests
        run: opam exec -- dune test

  git-hooks:
    name: Run git-hooks checks
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@V28
        with:
          extra_nix_config: |
            accept-flake-config = true
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Run pre-commit checks
        run: nix build .#checks.x86_64-linux.git-hooks -vL --no-link
